<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
 http://maven.apache.or g/xsd/settin gs-1.0.0.xsd ">
	<localRepository>/succez/succezIDE/users/.m2/repository-archiva
	</localRepository>
	<repositories>
		<repository>
			<id>central</id>
			<url>http://central.maven.org/maven2/</url>
		</repository>
		<repository>
			<id>hortonworks</id>
			<url>http://repo.hortonworks.com/content/repositories/releases/</url>
		</repository>
		<repository>
			<id>apache</id>
			<url>https://repository.apache.org/content/repositories/releases/
			</url>
		</repository>
	</repositories>
</settings>
